<div id="message_tree">
</div>
<ul class="sidebar__list">
	<li>
	   <%= link_to("Home", home_index_path ) %>
    </li>
    <li>
       <%= link_to("Vendors", vendors_path)%>
    </li>
    <li>
       <%= link_to("Test Seqs", test_sequence_index_path) %>
    </li>
</ul>