<h1>New Vendor</h1>

<%= form_for :vendor, url: vendors_path do |f| %>
<div class="field-unit"
  <p>
    <%= f.label :name, :class => "field-unit__label" %><br>
    <%= f.text_field :name, :class => "field-unit__field" %>
  </p>
</div>
  
<div class="form-actions">
    <%= f.submit %>
</div>
<% end %>